# docker-compose.yml

services:
  postgres:
    image: postgres:14
    environment:
      POSTGRES_DB: habiliai
      POSTGRES_USER: habiliai
      POSTGRES_PASSWORD: habiliai
      POSTGRES_PORT: 5432
      POSTGRES_HOST_AUTH_METHOD: trust
    ports:
      - "5432:5432"
    configs:
      - source: init.sql
        target: /docker-entrypoint-initdb.d/init.sql
  minio:
    image: minio/minio:latest
    container_name: minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: "minioadmin"
      MINIO_ROOT_PASSWORD: "minioadmin"
    volumes:
      - minio_data:/data
    command: server /data --console-address ":9001"
  habapi:
    build:
      dockerfile: ./api/Dockerfile
    command:
      - sh
      - -ce
      - |
        ./alice seed
        ./alice serve
    ports:
      - "8000:8000"
      - "8001:8001"
    environment:
      INCLUDE_DEBUG: true
      PORT: 8000
      WEB_PORT: 8001
      DB_USER: habiliai
      DB_PASSWORD: habiliai
      DB_NAME: habiliai
      DB_HOST: postgres.local
      DB_PORT: 5432
      DB_PING_TIMEOUT: 5s
      DB_AUTO_MIGRATION: true
      DB_MAX_IDLE_CONNS: 10
      DB_MAX_OPEN_CONNS: 100
      DB_CONN_MAX_LIFETIME: 1h
      # OpenAI API Config
      OPENAI_API_KEY:
      # OpenWeather API key
      OPENWEATHER_API_KEY:
      # Twitter API Keys
      TWITTER_CONSUMER_KEY:
      TWITTER_CONSUMER_SECRET:
      TWITTER_ACCESS_TOKEN:
      TWITTER_ACCESS_TOKEN_SECRET:
    links:
      - postgres:postgres.local
    depends_on:
      - postgres
    restart: always

configs:
  init.sql:
    content: |
      CREATE DATABASE test WITH OWNER = habiliai;

volumes:
  minio_data: