# docker-compose.yml

services:
  postgres:
    image: postgres:14
    environment:
      POSTGRES_DB: habiliai
      POSTGRES_USER: habiliai
      POSTGRES_PASSWORD: habiliai
      POSTGRES_PORT: 5432
      POSTGRES_HOST_AUTH_METHOD: trust
    ports:
      - "5432:5432"
    configs:
      - source: init.sql
        target: /docker-entrypoint-initdb.d/init.sql
  minio:
    image: minio/minio:latest
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: "minioadmin"
      MINIO_ROOT_PASSWORD: "minioadmin"
    volumes:
      - minio_data:/data
    command: server /data --console-address ":9001"
  aliceapi:
    build:
      dockerfile: ./api/Dockerfile
    command:
      - sh
      - -ce
      - |
        ./alice seed
        ./alice serve
    ports:
      - "8000:8000"
      - "8001:8001"
    environment:
      INCLUDE_DEBUG: true
      PORT: 8000
      WEB_PORT: 8001
      DATABASE_URL: postgres://habiliai:habiliai@postgres.local:5432/habiliai?sslmode=disable&search_path=alice
    links:
      - postgres:postgres.local
    depends_on:
      - postgres
    restart: always
  agentruntime:
    build:
      context: https://github.com/habiliai/agentruntime.git
      dockerfile: Dockerfile
    entrypoint:
      - sh
      - -ce
      - |
        ./agentruntime serve ./agents
    ports:
      - "8010:8010"
    environment:
      LOG_LEVEL: debug
      HOST: 0.0.0.0
      PORT: 8010
      DATABASE_URL: postgres://habiliai:habiliai@postgres.local:5432/habiliai?sslmode=disable&search_path=agentruntime
      # OpenAI API Config
      OPENAI_API_KEY:
      # OpenWeather API key
      OPENWEATHER_API_KEY:
    links:
      - postgres:postgres.local
    depends_on:
      - postgres
    restart: always
    configs:
      - source: sunny.yaml
        target: /app/agents/sunny.yaml
      - source: eric.yaml
        target: /app/agents/eric.yaml

configs:
  init.sql:
    content: |
      CREATE DATABASE test WITH OWNER = habiliai;
  sunny.yaml:
    file: ./agents/sunny.yaml
  eric.yaml:
    file: ./agents/eric.yaml

volumes:
  minio_data: